.rating-item {
  width : 70px;
}

.rating-item > label {
  width : 70px;
  height : 34px;
  border-radius : 8px;
}

li[data-type="control_rating"].form-line-error .form-star-rating .form-star-rating-star:not(:last-child) {
 background-position : -129px 0px !important;
}
li[data-type=control_datetime] [data-wrapper-react=true].extended>div + .form-sub-label-container .form-textbox:placeholder-shown, 
li[data-type=control_datetime] [data-wrapper-react=true]:not(.extended) .form-textbox:not(.time-dropdown):placeholder-shown,
li[data-type=control_datetime] [data-wrapper-react=true].extended>div + .form-sub-label-container .form-textbox,
li[data-type=control_datetime] [data-wrapper-react=true]:not(.extended) .form-textbox:not(.time-dropdown) {
  background-position : left 10px bottom 50%;
  padding-left: 36px;
}